/* You can add global styles to this file, and also import other style files */

:root {
  --opensans: "Open Sans", sans-serif;
  --oswald: "Oswald", sans-serif;
  --ptsans: "PT Sans", sans-serif;
  --snow: #fffbfc;
  --baby-pink:#DFBBB1;
  --rose:#F56476;
  --cereise:#E43F6F;
  --blue:#008DD5;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}
body {
  font-family: var(--opensans);
  background: var(--snow);
  background: #262626;
  margin: 0;

}

*,
*:before,
*:after {
  box-sizing: inherit;
}

img {
  max-width: 100%;
}

a {
  cursor: pointer;
}
h1 {
  font-size: 3.6rem;
  font-family: var(--oswald);
}

@media (min-width: 768px) {
  h1 {
    font-size: 3.8rem;
  }
}

h2 {
  font-size: 3.4rem;
  text-align: center;
  color: var(--red-colour);
  text-transform: uppercase;
}

@media (min-width: 768px) {
  h2 {
    font-size: 3.6rem;
  }
}

h3 {
  font-size: 3.2rem;
  font-family: var(--oswald);
}

@media (min-width: 768px) {
  h3 {
    font-size: 3.4rem;
  }
}

h4 {
  font-size: 3rem;
}

@media (min-width: 768px) {
  h4 {
    font-size: 3.2rem;
  }
}

h5 {
  font-size: 2.8rem;
}

@media (min-width: 768px) {
  h5 {
    font-size: 3rem;
  }
}

p {
  font-size: 2rem;
  font-family: var(--ptsans);
}

.contenedor{
  width: 98%;
  margin: 0 auto;
}

@media (min-width: 768px){
.contenedor{
  width: 95%;
}
}

